{% extends "layout.html" %}

{% block title %}WUPHF - Services {% endblock %}

{% block content %}
{% for service in services %}
    <div class="container-service">
        <div class="row post-card">
            <div class="card mb-3" data-service-id="{{ service.id_service }}">
                <div class="row g-0">
                    <div class="col-md-3 d-flex align-items-center justify-content-center">
                        <img src="{{ url_for('static', filename=service.vendeur.photo_profil) }}" class="img-fluid rounded-circle border border-3 border-dark img-profil-service" alt="Photo profil">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="service-options">
                                <div class="btn-group shadow-0">
                                    <button type="button" class="btn btn-light dropdown-toggle" data-mdb-dropdown-init data-mdb-ripple-init aria-expanded="false">
                                        Options
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button type="button" class="btn btn-light dropdown-btn" data-bs-toggle="modal" data-bs-target="#confirmDeleteServiceModal" data-service-id="{{ service.id_service }}">
                                                Supprimer
                                            </button>
                                        </li>
                                        <li>
                                            <form action="/modifier-service" method="GET" class="dropdown-btn" name="form-get-pub">
                                                <input type="hidden" name="id_service" value="{{ service.id_service }}">
                                                <button type="submit" class="btn btn-light dropdown-btn">Modifier</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal fade" id="confirmDeleteServiceModal" tabindex="-1" aria-labelledby="confirmDeleteServiceModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmDeleteServiceModalLabel">Confirmer la suppression</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Êtes-vous sûr de vouloir supprimer ce service ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                            <form action="/api/supprimer-service" method="POST" id="deleteServiceForm">
                                                <input type="hidden" name="id_service" id="serviceIdToDelete" value="{{ service.id_service }}">
                                                <button type="submit" class="btn btn-danger" data-service-id="{{ service.id_service }}">Supprimer</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title">{{ service.titre }}</h5>
                            <p class="card-text">Description: {{ service.description }}</p>
                            <p class="card-text">Coût: {{ '%.2f'|format(service.prix) }}$</p>
                            <p class="card-text">Horaire: {{ service.horaire }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
